<section>

    <div class="tvq-top-banner">
        <img src="systems/touhouvq/assets/img/top_banner.webp"/>
    </div>

    <div class="flex tvq-char-infos">
        <div class="tvq-char-infos-div">
            <select name="data.race" class="tvq-input tvq-input-race">
                {{#select data.data.race}}
                    {{#each raceListing as |name race|}}
                        <option value="{{race}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <p class="tvq-p">{{localize 'touhouvq.sheet.race'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-sexe" type="text" name="data.charInfos.gender" value="{{data.data.charInfos.gender}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.gender'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-size" type="text" name="data.charInfos.size" value="{{data.data.charInfos.size}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.size'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-age" type="text" name="data.charInfos.age" value="{{data.data.charInfos.age}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.age'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-weight" type="text" name="data.charInfos.weight" value="{{data.data.charInfos.weight}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.weight'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-eyes" type="text" name="data.charInfos.eyecolor" value="{{data.data.charInfos.eyecolor}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.eyecolor'}}</p>
        </div>
        <div class="tvq-char-infos-div">
            <input class="tvq-input tvq-input-hairs" type="text" name="data.charInfos.haircolor" value="{{data.data.charInfos.haircolor}}">
            <p class="tvq-p">{{localize 'touhouvq.sheet.haircolor'}}</p>
        </div>
        <div class="tvq-upperside-person">
            <a class="tvq-button-bodyloc">
                <i class="fas fa-male"></i>
            </a>
        </div>
        <div class="tvq-side-bloc-2">
            <div class="tvq-side-bloc-bloc-def tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p-defense">{{localize 'touhouvq.sheet.defense'}}</p>
                    <hr class="tvq-custom-hr">
                    <input class="tvq-char-stat-input" type="text" name="data.defense.value" value="{{data.data.defense.value}}" disabled>
                </div>
            </div>
            <div class="tvq-side-bloc-bloc tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p-gensokyo">{{localize 'touhouvq.sheet.gensokyopower'}}</p>
                    <hr class="tvq-custom-hr">
                    <input class="tvq-char-stat-input" type="text" name="data.gensokyoPower.value" value="{{data.data.gensokyoPower.value}}">
                </div>
            </div>
        </div>
    </div>
  
</section>
  