<section>

    <div class="tvq-char-stat">

        <div id="stat-strength-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-strength tvq-border {{unrealStats.strength}}" data-action-value="{{data.data.stats.strength}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.strength}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-strength-color">{{localize 'touhouvq.stats.strength'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.strength" data-dtype="Number" value="{{data.data.stats.strength}}">
            </div>
        </div>

        <div id="stat-agility-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-agility tvq-border {{unrealStats.agility}}" data-action-value="{{data.data.stats.agility}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.agility}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-agility-color">{{localize 'touhouvq.stats.agility'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.agility" data-dtype="Number" value="{{data.data.stats.agility}}">
            </div>
        </div>

        <div id="stat-resilience-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-resilience tvq-border {{unrealStats.resilience}}" data-action-value="{{data.data.stats.resilience}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.resilience}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-endurance-color">{{localize 'touhouvq.stats.resilience'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.resilience" data-dtype="Number" value="{{data.data.stats.resilience}}">
            </div>
        </div>

        <div id="stat-discipline-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-discipline tvq-border {{unrealStats.discipline}}" data-action-value="{{data.data.stats.discipline}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.discipline}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-discipline-color">{{localize 'touhouvq.stats.discipline'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.discipline" data-dtype="Number" value="{{data.data.stats.discipline}}">
            </div>
        </div>

        <div id="stat-perception-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-perception tvq-border {{unrealStats.perception}}" data-action-value="{{data.data.stats.perception}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.perception}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-perception-color">{{localize 'touhouvq.stats.perception'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.perception" data-dtype="Number" value="{{data.data.stats.perception}}">
            </div>
        </div>

        <div id="stat-magic-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-magic tvq-border {{unrealStats.magic}}" data-action-value="{{data.data.stats.magic}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.magic}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-magic-color">{{localize 'touhouvq.stats.magic'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.magic" data-dtype="Number" value="{{data.data.stats.magic}}">
            </div>
        </div>

        <div id="stat-intelligence-div" class="tvq-char-stat-bloc tvq-char-stat-bloc-intelligence tvq-border {{unrealStats.intelligence}}" data-action-value="{{data.data.stats.intelligence}}" data-fatigue-value="{{data.data.fatigue.value}}" data-upgrade-value="{{data.data.upgradeStats.intelligence}}">
            <div class="tvq-char-stat-content">
                <p class="tvq-intellect-color">{{localize 'touhouvq.stats.intelligence'}}</p>
                <input class="tvq-char-stat-input" type="text" name="data.stats.intelligence" data-dtype="Number" value="{{data.data.stats.intelligence}}">
            </div>
        </div>

    </div>

    <div class="tvq-char-sheet-body">

        <div class="tvq-char-sheet-body-bar1">

            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheet.healthPoints'}}</p>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-inside-body">
                        <input class="tvq-input-bar1" type="number" name="data.health.value" value="{{data.data.health.value}}">
                        <p class="tvq-side-bloc-bar1">/</p>
                        <input class="tvq-input-bar1 bold" type="number" name="data.health.max" value="{{data.data.health.max}}">
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p red">{{localize 'touhouvq.sheet.criticalWounds'}}</p>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-inside-body">
                        <input class="tvq-input-bar1 bold red" type="number" name="data.critWounds.value" value="{{data.data.critWounds.value}}">
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheet.magicPoints'}}</p>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-inside-body">
                        <input class="tvq-input-bar1" type="number" name="data.magic.value" value="{{data.data.magic.value}}">
                        <p class="tvq-side-bloc-bar1">/</p>
                        <input class="tvq-input-bar1 bold" type="number" name="data.magic.max" value="{{data.data.magic.max}}">
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheet.fatiguePoints'}}</p>
                    <hr class="tvq-custom-hr">
                    <input class="tvq-input-fatigue" type="number" name="data.fatigue.value" value="{{data.data.fatigue.value}}">
                </div>
            </div>
    
            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <div class="custom_input">
                        <input class="tvq-checkboxSuper" type="checkbox" name="data.superFate.value" data-dtype="Boolean" {{checked data.data.superFate.value}}/>
                        <span>
                            <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheet.fatePoints'}}</p>
                        </span>
                    </div>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-inside-body">
                        <input class="tvq-input-bar1" type="number" name="data.fate.value" value="{{data.data.fate.value}}">
                        <p class="tvq-side-bloc-bar1">/</p>
                        <input class="tvq-input-bar1 bold" type="number" name="data.fate.max" value="{{data.data.fate.max}}">
                    </div>
                </div>
            </div>
    
            <div class="tvq-side-bloc-casual tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p m-0 center bold">{{localize 'touhouvq.sheet.level'}}</p>
                    <hr class="tvq-custom-hr">
                    <input class="tvq-input-yens" type="number" name="data.levelBased.level" value="{{data.data.levelBased.level}}">
                </div>
            </div>

            <div class="tvq-side-bloc-2-tier">
                <div class="tvq-side-bloc-casual-half tvq-border">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-p center">{{localize 'touhouvq.sheet.xp'}}</p>
                        <hr class="tvq-custom-hr">
                        <input class="tvq-input-fatigue" type="number" name="data.levelBased.currentXP" value="{{data.data.levelBased.currentXP}}">
                    </div>
                </div>
                <div class="tvq-side-bloc-casual-half tvq-border">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheet.totalxp'}}</p>
                        <hr class="tvq-custom-hr">
                        <input class="tvq-input-yens" type="number" name="data.levelBased.totalXP" value="{{data.data.levelBased.totalXP}}">
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-2-tier">
                <div class="tvq-side-bloc-casual-half tvq-border">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-tier center">{{localize 'touhouvq.sheet.mons'}}</p>
                        <hr class="tvq-custom-hr">
                        <input class="tvq-input-mons" type="number" name="data.mon.value" value="{{data.data.mon.value}}">
                    </div>
                </div>
                <div class="tvq-side-bloc-casual-half tvq-border">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-tier center">{{localize 'touhouvq.sheet.yens'}}</p>
                        <hr class="tvq-custom-hr">
                        <input class="tvq-input-mons" type="number" name="data.yen.value" value="{{data.data.yen.value}}">
                    </div>
                </div>
                <div class="tvq-side-bloc-casual-half tvq-border">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-tier center">{{localize 'touhouvq.sheet.ryos'}}</p>
                        <hr class="tvq-custom-hr">
                        <input class="tvq-input-mons" type="number" name="data.ryo.value" value="{{data.data.ryo.value}}">
                    </div>
                </div>
            </div>

        </div>

        <div class="tvq-char-sheet-body-bar2">

            <div class="tvq-side-bloc-full tvq-border">
                <div class="tvq-side-bloc-content">
                    <div class="tvq-perk-content">
                        <p class="tvq-side-bloc-p">{{localize "touhouvq.sheettext.startertalent"}}</p>
                        <div class="tvq-perk-line">
                            <a class="info-starter" data-race="{{actor.data.data.talentStarter}}">
                                <i class="fas fa-info"></i>
                            </a>
                            <a class="edit-starter" data-race="{{actor.data.data.talentStarter}}">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-perk-body">
                        <p class="tvq-startertalent-perk-class">{{localize (concat "touhouvq.startertalent." actor.data.data.talentStarter)}}</p>
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-full tvq-border">
                <div class="tvq-side-bloc-content">
                    <div class="tvq-perk-content">
                        <p class="tvq-side-bloc-p">{{localize "touhouvq.sheettext.raceskill"}}</p>
                        <div class="tvq-perk-line">
                            <a class="show-raceskill" data-race="{{actor.data.data.raceSkill}}">
                                <i class="fas fa-info"></i>
                            </a>
                            <a class="roll-raceskill" data-race="{{actor.data.data.raceSkill}}">
                                <i class="fas fa-dice-d20"></i>
                            </a>
                            <a class="edit-raceskill" data-race="{{actor.data.data.raceSkill}}">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-perk-body">
                        <p class="tvq-startertalent-perk-class">{{localize (concat "touhouvq.raceskill." actor.data.data.raceSkill)}}</p>
                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-full tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p">{{localize "touhouvq.sheettext.talentsandspellcards"}}</p>
                    <hr class="tvq-custom-hr">
                    <div class="tvq-perk-info-content">

                        <section class="talent-skill-spellcard-list">
                            {{#each perks as |item id|}}
                                {{> "systems/touhouvq/templates/partials/talent-skill-spellcard-card.html" item inSheet=true}}
                            {{/each}}
                        </section>

                    </div>
                </div>
            </div>

        </div>

        <div class="tvq-char-sheet-body-bar3">

            <div class="tvq-side-bloc-full tvq-border">
                <div class="tvq-side-bloc-full tvq-border tvq-equipment">
                    <div class="tvq-side-bloc-content">
                        <p class="tvq-side-bloc-p">{{localize "touhouvq.sheettext.equipment"}}</p>
                        <hr class="tvq-custom-hr">

                        <section class="item-list">
                            {{#each equipables as |item id|}}
                                {{> "systems/touhouvq/templates/partials/item-card.html" item inSheet=true}}
                            {{/each}}
                        </section>

                    </div>
                </div>
            </div>

            <div class="tvq-side-bloc-full tvq-border">
                <div class="tvq-side-bloc-content">
                    <p class="tvq-side-bloc-p">Connaissances</p>
                        <div class="tvq-full-bloc-knowledge">
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.nature"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.nature1" data-dtype="Boolean" {{checked data.data.knowledge.nature1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.nature2" data-dtype="Boolean" {{checked data.data.knowledge.nature2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.nature3" data-dtype="Boolean" {{checked data.data.knowledge.nature3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.humans"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.humans1" data-dtype="Boolean" {{checked data.data.knowledge.humans1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.humans2" data-dtype="Boolean" {{checked data.data.knowledge.humans2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.humans3" data-dtype="Boolean" {{checked data.data.knowledge.humans3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.youkai"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.youkai1" data-dtype="Boolean" {{checked data.data.knowledge.youkai1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.youkai2" data-dtype="Boolean" {{checked data.data.knowledge.youkai2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.youkai3" data-dtype="Boolean" {{checked data.data.knowledge.youkai3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.magic"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.magic1" data-dtype="Boolean" {{checked data.data.knowledge.magic1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.magic2" data-dtype="Boolean" {{checked data.data.knowledge.magic2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.magic3" data-dtype="Boolean" {{checked data.data.knowledge.magic3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.blackmarket"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket1" data-dtype="Boolean" {{checked data.data.knowledge.blackmarket1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket2" data-dtype="Boolean" {{checked data.data.knowledge.blackmarket2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket3" data-dtype="Boolean" {{checked data.data.knowledge.blackmarket3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.outsideworld"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.outsideworld1" data-dtype="Boolean" {{checked data.data.knowledge.outsideworld1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.outsideworld2" data-dtype="Boolean" {{checked data.data.knowledge.outsideworld2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.outsideworld3" data-dtype="Boolean" {{checked data.data.knowledge.outsideworld3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.medicine"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.medicine1" data-dtype="Boolean" {{checked data.data.knowledge.medicine1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.medicine2" data-dtype="Boolean" {{checked data.data.knowledge.medicine2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.medicine3" data-dtype="Boolean" {{checked data.data.knowledge.medicine3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.forge"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.forge1" data-dtype="Boolean" {{checked data.data.knowledge.forge1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.forge2" data-dtype="Boolean" {{checked data.data.knowledge.forge2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.forge3" data-dtype="Boolean" {{checked data.data.knowledge.forge3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.haggling"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.haggling1" data-dtype="Boolean" {{checked data.data.knowledge.haggling1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.haggling2" data-dtype="Boolean" {{checked data.data.knowledge.haggling2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.haggling3" data-dtype="Boolean" {{checked data.data.knowledge.haggling3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.cooking"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.cooking1" data-dtype="Boolean" {{checked data.data.knowledge.cooking1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.cooking2" data-dtype="Boolean" {{checked data.data.knowledge.cooking2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.cooking3" data-dtype="Boolean" {{checked data.data.knowledge.cooking3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.myths"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.myths1" data-dtype="Boolean" {{checked data.data.knowledge.myths1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.myths2" data-dtype="Boolean" {{checked data.data.knowledge.myths2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.myths3" data-dtype="Boolean" {{checked data.data.knowledge.myths3}} />
                                </div>
                            </div>
                            <div class="tvq-knowledge">
                                <div class="tvq-knowledge-forp">
                                    <p>{{localize "touhouvq.knowledgeText.deities"}}</p>
                                </div>
                                <div class="tvq-knowledge-forcheckbox">
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.deities1" data-dtype="Boolean" {{checked data.data.knowledge.deities1}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.deities2" data-dtype="Boolean" {{checked data.data.knowledge.deities2}} />
                                    <input class="tvq-knowledge-checkbox" type="checkbox" name="data.knowledge.deities3" data-dtype="Boolean" {{checked data.data.knowledge.deities3}} />
                                </div>
                            </div>
                        </div>

                </div>
            </div>

        </div>

    </div>
  
</section>
  