<section>
  
    <div class="tvq-sidebar-2">

        <div class="tvq-upperside">
            <div class="tvq-upperside-1">
                <a class="tvq-button-traitroll" data-strength-value="{{data.data.stats.strength}}" data-agility-value="{{data.data.stats.agility}}" data-resilience-value="{{data.data.stats.resilience}}" data-discipline-value="{{data.data.stats.discipline}}" data-perception-value="{{data.data.stats.perception}}" data-magic-value="{{data.data.stats.magic}}" data-intelligence-value="{{data.data.stats.intelligence}}" data-trait-value="TRUE" data-fatigue-value="{{data.data.fatigue.value}}">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            <div class="tvq-upperside-2">
                <div class="tvq-deathcheck-roll">
                    <p class="tvq-p-side">{{localize 'touhouvq.sheettext.deathSaveText'}}</p>
                </div>
                <div class="tvq-side-div">
                    <input class="tvq-deathsave" type="checkbox" name="data.deathSaves.value1" data-dtype="Boolean" title="Mark Done" {{checked data.data.deathSaves.value1}} />
                    <input class="tvq-deathsave" type="checkbox" name="data.deathSaves.value2" data-dtype="Boolean" title="Mark Done" {{checked data.data.deathSaves.value2}} />
                    <input class="tvq-deathsave" type="checkbox" name="data.deathSaves.value3" data-dtype="Boolean" title="Mark Done" {{checked data.data.deathSaves.value3}} />
                </div>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height">
                <div class="tvq-charinfos">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheettext.story'}}</p>
                    <a class="mini-button-infosShow charInfos-1" data-action="edit" data-char-infos="story" title="{{localize 'touhouvq.sheet.show'}}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="mini-button charInfos" data-action="edit" data-char-infos="story" title="{{localize 'touhouvq.sheet.edit'}}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <hr class="tvq-custom-hr">
                <div class="tvq-charInfos-div">
                    {{{data.data.charInfos.story}}}
                </div>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height">
                <div class="tvq-charinfos">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheettext.personality'}}</p>
                    <a class="mini-button-infosShow charInfos-1" data-action="edit" data-char-infos="personality" title="{{localize 'touhouvq.sheet.show'}}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="mini-button charInfos" data-action="edit" data-char-infos="personality" title="{{localize 'touhouvq.sheet.edit'}}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <hr class="tvq-custom-hr">
                <div class="tvq-charInfos-div">
                    {{{data.data.charInfos.personality}}}
                </div>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height-1">
                <div class="tvq-charinfos">
                    <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheettext.power'}}</p>
                    <a class="mini-button-infosShow charInfos-1" data-action="edit" data-char-infos="power" title="{{localize 'touhouvq.sheet.show'}}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="mini-button charInfos" data-action="edit" data-char-infos="power" title="{{localize 'touhouvq.sheet.edit'}}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <hr class="tvq-custom-hr">
                <div class="tvq-charInfos-div-2">
                    {{{data.data.charInfos.power}}}
                </div>
            </div>
        </div>

        <div class="tvq-side-bloc tvq-border">
            <div class="tvq-side-bloc-content tvq-side-bloc-height-3">
                <p class="tvq-side-bloc-p">{{localize 'touhouvq.sheettext.distinctive'}}</p>
                <a class="mini-button-infosShow charInfos-2" data-action="edit" data-char-infos="distinctive" title="{{localize 'touhouvq.sheet.show'}}">
                    <i class="fas fa-eye"></i>
                </a>
                <hr class="tvq-custom-hr">
                <textarea id="distinctive" class="tvq-side-bloc-content-p" name="data.charInfos.distinctive" rows="5" cols="33" spellcheck="false">{{data.data.charInfos.distinctive}}</textarea>
            </div>
        </div>

        <button class="tvq-sheet-button sheet2-button" type="button">{{localize 'touhouvq.sheettext.secondsheet'}}</button>
    
    </div>
  
</section>
  