{{#ifSuperiorOrEquals total 10}}
    <h2 class="tvq-deathsave-rp-life">{{localize "touhouvq.deathCheck.success"}}</h2>
    <img class="tvq-deathsave-dicelife" src="systems/touhouvq/assets/img/d20success1.webp">
    <img class="tvq-deathsave-life" src="systems/touhouvq/assets/img/life.webp">
    <h2 class="tvq-deathsave-total">{{total}}</h2>
    <h2 class="tvq-deathsave-formula">{{formula}}</h2>
{{else}}
    <h2 class="tvq-deathsave-rp-death">{{localize "touhouvq.deathCheck.failure"}}</h2>
    <img class="tvq-deathsave-dicedeath" src="systems/touhouvq/assets/img/d20fumble1.webp">
    <img class="tvq-deathsave-death" src="systems/touhouvq/assets/img/death.webp">
    <h2 class="tvq-deathsave-total">{{total}}</h2>
    <h2 class="tvq-deathsave-formula">{{formula}}</h2>
{{/ifSuperiorOrEquals}}