<div class="dice-roll">
    <div class="dice-result">

        <img class="tvq-effect-img" src="systems/touhouvq/assets/img/effects/{{this}}.svg" title="{{localize (concat "touhouvq.statusEffectsBuffs." this)}}">

        <div class="tvq-effect-title">
            {{localize (concat "touhouvq.statusEffectsBuffs." this)}}
        </div>

        <div class="tvq-effect-label">
            <p class="tvq-effect-label-p">{{localize 'touhouvq.sheettext.buff'}}</p>
        </div>

        <div class="tvq-effect-desc">
            {{{localize (concat "touhouvq.descBuffs." this)}}}
        </div>

    </div>
</div>