<div class="dice-roll">
    <div class="dice-result">
        <!-- PROBLEME ICI : ça recup en fr, mais pas en eng ! -->
        <img class="tvq-weaponcheck-img" src="systems/touhouvq/assets/img/talentsandskills/{{data.race}}/{{data.compname1}}.webp" title="{{data.compname}}">

        <div class="dice-formula tvq-dice-formula-weapon">
            {{data.compname}}
        </div>

        {{#if (eq talentSkillType "startertalent")}}
            <div class="tvq-spellcard-show">
                <p class="tvq-spellcard-card-unsealing">{{localize 'touhouvq.sheettext.startertalent'}}</p>
            </div>
        {{/if}}

        {{#if (eq talentSkillType "raceskill")}}
            <div class="tvq-spellcard-show">
                <p class="tvq-spellcard-card-thought">{{localize 'touhouvq.sheettext.raceskill'}}</p>
            </div>
        {{/if}}

        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">
                        </span>
                    </header>
                    <ol class="dice-rolls">
                        <li>
                            <div class="tvq-weaponperk-show-talent">
                                <p>{{{data.compdesc}}}</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </section>
        </div>

    </div>
</div>
{{log this}}