<div class="dice-roll">
    <div class="dice-result">
        <img class="tvq-weaponcheck-img" src="systems/touhouvq/assets/img/talentsandskills/{{data.race}}/{{data.compname}}.webp" title="{{data.compname}}">

        <div class="dice-formula tvq-dice-formula-weapon">
            {{data.compname}}
        </div>

        <div class="tvq-spellcard-show">
            <p class="tvq-spellcard-card-unsealing">{{localize 'touhouvq.sheettext.startertalent'}}</p>
        </div>

        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">
                        </span>
                    </header>
                    <ol class="dice-rolls">
                        <li>
                            <div class="tvq-weaponperk-show-talent">
                                <p>{{data.compdesc}}</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </section>
        </div>

    </div>
</div>