<div class="tchat-card">
    <div class="tchat-info">
        {{#if (eq race "youkai")}}
            <div class="tvq-skillcard">
                <div class="tvq-skillcard-div1">
                    <p>{{localize 'touhouvq.flavorText.youkaitext1'}}</p>
                </div>
                <div class="tvq-skillcard-div2">
                    <button id="youkai-raceskill-button-1" class="tvq-chooseyoukai tvq-chooseyoukai-1" type="button" data-actor="{{actor.data._id}}" data-choice="strength">{{localize 'touhouvq.stats.strength'}}</button>
                    <button id="youkai-raceskill-button-2" class="tvq-chooseyoukai tvq-chooseyoukai-2" type="button" data-actor="{{actor.data._id}}" data-choice="discipline">{{localize 'touhouvq.stats.discipline'}}</button>
                    <button id="youkai-raceskill-button-3" class="tvq-chooseyoukai tvq-chooseyoukai-3" type="button" data-actor="{{actor.data._id}}" data-choice="intelligence">{{localize 'touhouvq.stats.intelligence'}}</button>
                </div>
            </div>
        {{/if}}
        {{#if (eq race "vampire")}}
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula tvq-dice-formula tvq-spellcardcolor-thought">
                        {{localize "touhouvq.namesRaceSkill.savagerecovery"}}
                    </div>
                    <div class="dice-formula tvq-dice-formula tvq-strength-color">
                        {{localize "touhouvq.sheet.rollStrength"}}
                    </div>
                    <div class="dice-tooltip">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{rollResult.formula}}</span>
                                    {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                                        <p class="tvq-criticalsuccess-display">
                                            {{localize "touhouvq.critical.critsuccess"}}
                                        </p>
                                    {{else}}
                                        {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                                            <p class="tvq-criticalfailure-display">
                                                {{localize "touhouvq.critical.critfailure"}}
                                            </p>
                                        {{/ifEquals}}
                                    {{/ifEquals}}
                                    <span class="part-total">{{rollResult.total}}</span>
                                </header>
                                <ol class="dice-rolls">
                                {{#each rollResult.dice as |object key|}}
                                    {{#each this.results}}
                                        {{#ifSuperiorOrEquals this.result object.faces}}
                                            <li class="roll max die d{{object.faces}}">{{this.result}}</li>
                                        {{else}}
                                            {{#ifEquals this.result 1}}
                                                <li class="roll min die d{{object.faces}}">{{this.result}}</li>
                                            {{else}}
                                                <li class="roll die d{{object.faces}}">{{this.result}}</li>
                                            {{/ifEquals}}
                                        {{/ifSuperiorOrEquals}}
                                    {{/each}}
                                {{/each}}
                                </ol>
                            </div>
                        </section>
                    </div>
                    <div class="tvq-dice-result">
                        {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                            <img class="tvq-skillcard-img2" src="systems/touhouvq/assets/img/d20success2_1.webp">
                            <h4 class="tvq-taskcheck-resulttotal tvq-criticalsuccess">{{rollResult.total}}</h4>
                        {{else}}
                            {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                                <img class="tvq-skillcard-img2" src="systems/touhouvq/assets/img/d20fumble2_1.webp">
                                <h4 class="tvq-taskcheck-resulttotal tvq-criticalfailure">{{rollResult.total}}</h4>
                            {{else}}
                                <img class="tvq-skillcard-img" src="systems/touhouvq/assets/img/roll_1_vampire.webp">
                                <h4 class="tvq-taskcheck-resulttotal">{{rollResult.total}}</h4>
                            {{/ifEquals}}
                        {{/ifEquals}}
                    </div>
                    {{#ifSuperiorOrEquals rollResult.total 20}}
                        <div class="raceskill-checkdiv">
                            <div class="checkdiv-1">
                                <p class="checkdiv-p1">{{localize "touhouvq.simpleMessage.diceDifficulty"}}</p>
                                <p class="checkdiv-p2">{{localize "touhouvq.difficulties.Arduous"}} ({{localize "touhouvq.difficulties.Arduous1"}})</p>
                            </div>
                            <div class="checkdiv-2 checkdiv-2-success">
                                <p>{{localize "touhouvq.simpleCheck.success"}}</p>
                            </div>
                        </div>
                        <div class="tvq-skillcard-div2">
                            <button id="vampire-raceskill-button" class="tvq-choosevampire" type="button" data-actor-id="{{actor.id}}">{{localize 'touhouvq.flavorText.vampireButton'}}</button>
                        </div>
                    {{else}}
                        <div class="raceskill-checkdiv">
                            <div class="checkdiv-1">
                                <p class="checkdiv-p1">{{localize "touhouvq.simpleMessage.diceDifficulty"}}</p>
                                <p class="checkdiv-p2">{{localize "touhouvq.difficulties.Arduous"}} ({{localize "touhouvq.difficulties.Arduous1"}})</p>
                            </div>
                            <div class="checkdiv-2 checkdiv-2-failure">
                                <p>{{localize "touhouvq.simpleCheck.failure"}}</p>
                            </div>
                        </div>
                    {{/ifSuperiorOrEquals}}
                </div>
            </div>
        {{/if}}
        {{#if (eq race "lunarrabbit")}}
            <div class="tvq-skillcard">
                <div class="tvq-skillcard-div1">
                    <div class="dice-formula tvq-dice-formula-weapon tvq-spellcardcolor-thought">
                        {{localize 'touhouvq.raceskill.lunarrabbit'}}
                    </div>
                    <img class="comp-img" src="systems/touhouvq/assets/img/talentsandskills/lunarrabbit/firingline.webp">
                    <p class="center margint"><span class="trait">{{{localize 'touhouvq.flavorText.lunarrabbitRaceskill1'}}}</span> +{{this.actualStat}}d4</p>
                    <p class="center margint"><span class="trait">{{{localize 'touhouvq.flavorText.lunarrabbitRaceskill2'}}}</span> +{{this.actualStat}}d4</p>
                    <p class="center margint"><span class="inflicted-damage">{{{localize 'touhouvq.flavorText.lunarrabbitRaceskill3'}}}</span> +{{this.actualDamage}}</p>
                </div>
                <div class="tvq-skillcard-div2">
                    <button id="lunarrabbit-raceskill-button" class="tvq-raceskilllunarrabbit" data-actor-id="{{actor.id}}" type="button">{{localize 'touhouvq.flavorText.lunarrabbitButton'}}</button>
                </div>
            </div>
        {{/if}}
        {{#if (eq race "tsukumogami")}}
            <div class="tvq-skillcard">
                <div class="tvq-skillcard-div1">
                    <p>{{localize 'touhouvq.flavorText.tsukumogamiRaceskill'}}</p>
                </div>
                <div class="tvq-skillcard-div2">
                    <button id="tsukumogami-raceskill-button-1" class="tvq-choosetsukumogami" type="button" data-choice="1">{{localize 'touhouvq.flavorText.tsukumogamiButton1'}}</button>
                    <button id="tsukumogami-raceskill-button-2" class="tvq-choosetsukumogami" type="button" data-choice="2">{{localize 'touhouvq.flavorText.tsukumogamiButton2'}}</button>
                </div>
            </div>
        {{/if}}
        {{#if (eq race "mecanical")}}
            <div class="dice-roll">
                <div class="dice-result">
                    <div class="dice-formula tvq-dice-formula tvq-spellcardcolor-thought">
                        {{localize "touhouvq.namesRaceSkill.crush"}}
                    </div>
                    <div class="dice-formula tvq-dice-formula tvq-strength-color">
                        {{localize "touhouvq.sheet.rollStrength"}}
                    </div>
                    <div class="dice-tooltip">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">{{rollResult.formula}}</span>
                                    {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                                        <p class="tvq-criticalsuccess-display">
                                            {{localize "touhouvq.critical.critsuccess"}}
                                        </p>
                                    {{else}}
                                        {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                                            <p class="tvq-criticalfailure-display">
                                                {{localize "touhouvq.critical.critfailure"}}
                                            </p>
                                        {{/ifEquals}}
                                    {{/ifEquals}}
                                    <span class="part-total">{{rollResult.total}}</span>
                                </header>
                                <ol class="dice-rolls">
                                {{#each rollResult.dice as |object key|}}
                                    {{#each this.results}}
                                        {{#ifSuperiorOrEquals this.result object.faces}}
                                            <li class="roll max die d{{object.faces}}">{{this.result}}</li>
                                        {{else}}
                                            {{#ifEquals this.result 1}}
                                                <li class="roll min die d{{object.faces}}">{{this.result}}</li>
                                            {{else}}
                                                <li class="roll die d{{object.faces}}">{{this.result}}</li>
                                            {{/ifEquals}}
                                        {{/ifSuperiorOrEquals}}
                                    {{/each}}
                                {{/each}}
                                </ol>
                            </div>
                        </section>
                    </div>
                    <div class="tvq-dice-result">
                        {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                            <img class="tvq-skillcard-img2" src="systems/touhouvq/assets/img/d20success2_1.webp">
                            <h4 class="tvq-taskcheck-resulttotal tvq-criticalsuccess">{{rollResult.total}}</h4>
                        {{else}}
                            {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                                <img class="tvq-skillcard-img2" src="systems/touhouvq/assets/img/d20fumble2_1.webp">
                                <h4 class="tvq-taskcheck-resulttotal tvq-criticalfailure">{{rollResult.total}}</h4>
                            {{else}}
                                <img class="tvq-skillcard-img" src="systems/touhouvq/assets/img/roll_1_mecanical.webp">
                                <h4 class="tvq-taskcheck-resulttotal">{{rollResult.total}}</h4>
                            {{/ifEquals}}
                        {{/ifEquals}}
                    </div>
                    {{#ifSuperiorOrEquals rollResult.total 20}}
                        <div class="raceskill-checkdiv">
                            <div class="checkdiv-1">
                                <p class="checkdiv-p1">{{localize "touhouvq.simpleMessage.diceDifficulty"}}</p>
                                <p class="checkdiv-p2">{{localize "touhouvq.difficulties.Arduous"}} ({{localize "touhouvq.difficulties.Arduous1"}})</p>
                            </div>
                            <div class="checkdiv-2 checkdiv-2-success">
                                <p>{{localize "touhouvq.simpleCheck.success"}}</p>
                            </div>
                        </div>
                        <div class="tvq-skillcard-div2">
                            <button id="vampire-raceskill-button" class="tvq-choosemecanical" type="button" data-actor-id="{{actor.id}}">{{localize 'touhouvq.flavorText.mecanicalButton'}}</button>
                        </div>
                    {{else}}
                        <div class="raceskill-checkdiv">
                            <div class="checkdiv-1">
                                <p class="checkdiv-p1">{{localize "touhouvq.simpleMessage.diceDifficulty"}}</p>
                                <p class="checkdiv-p2">{{localize "touhouvq.difficulties.Arduous"}} ({{localize "touhouvq.difficulties.Arduous1"}})</p>
                            </div>
                            <div class="checkdiv-2 checkdiv-2-failure">
                                <p>{{localize "touhouvq.simpleCheck.failure"}}</p>
                            </div>
                        </div>
                    {{/ifSuperiorOrEquals}}
                </div>
            </div>
        {{/if}}
    </div>
</div>