<div class="tchat-card">
    <div class="tchat-info">
        <img src="systems/touhouvq/assets/img/{{raceNum}}.webp">
        <div class="tvq-body-parts">
            {{#if rollResult}}
                <img src="systems/touhouvq/assets/img/d10.webp">
                <p class="body-roll {{bodyClass}}">{{rollResult}}</p>
                {{#each localist as |loca key|}}
                <p class="{{loca.cssClasses}}">{{#if loca.isHit}}->{{/if}}{{loca.name}}</p>
                {{/each}}
            {{else}}
                <p class="body-race">{{raceName}}</p>
                {{#each localist as |loca key|}}
                <p class="{{loca.cssClasses}}">{{loca.name}}</p>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>