<div class="tchat-card">
    <div class="tchat-info">
        <img src="systems/touhouvq/assets/img/{{raceNum}}.png">
        <div class="tvq-body-parts">
            <p class="body-race">{{raceName}}</p>
            {{#if humanValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if youkaiValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Ailes (ou Torse)</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if ghostValue}}
                <p>Tête</p>
                <p>Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if vampireValue}}
                <p>Tête</p>
                <p class="crit">Coeur</p>
                <p>Ailes</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if fairyValue}}
                <p class="crit">Tête</p>
                <p>Coeur</p>
                <p>Ailes</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if crowtenguValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p class="crit">Ailes</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if whitewolftenguValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if greattenguValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if lunarrabbitValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if oniValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p class="armor">Cornes</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if amanojakuValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if inchlingValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if kappaValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if halfyoukaiValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if celestialValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Ailes</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if hermitValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if shinigamiValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if arahitogamiValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if tsukumogamiValue}}
                <p class="armor">Tête</p>
                <p class="armor">Coeur</p>
                <p class="armor">Torse</p>
                <p class="crit">Objet</p>
                <p class="armor">Bras Droit</p>
                <p class="armor">Bras Gauche</p>
                <p class="armor">Jambe Droite</p>
                <p class="armor">Jambe Gauche</p>
            {{/if}}
            {{#if earthrabbitValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if bakedanukiValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
            {{#if yamabikoValue}}
                <p class="crit">Tête</p>
                <p class="crit">Coeur</p>
                <p>Torse</p>
                <p>Objet</p>
                <p>Bras Droit</p>
                <p>Bras Gauche</p>
                <p>Jambe Droite</p>
                <p>Jambe Gauche</p>
            {{/if}}
        </div>
    </div>
</div>