{{#if inSheet}}
    <div data-type="item" class="weapon-card item reveal-rollable" data-item-id={{_id}}>
        <div class="weapon-info weapon-name">
            <p class="weapon-name-name">{{name}}</p>
            <div class="weapon-name-body">
                {{data.damage}}
            </div>
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        <div class="dice-result">
            <img class="tvq-weaponcheck-img" src="{{img}}">
            {{#if (eq data.rarity "common")}}
                <div class="dice-formula tvq-dice-formula-weapon">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "uncommon")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity2">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "rare")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity3">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "singular")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity4">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "unique")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity5">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "youkai")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity6">
                    {{name}}
                </div>
            {{/if}}
            <div class="tvq-weaponperk-show">
                <p class="tvq-centerstrong">{{localize config.textData.descText}}</p>
                <p>{{data.description}}</p>
            </div>
            {{#if data.perk}}
                <div class="dice-tooltip">
                    <section class="tooltip-part">
                        <div class="dice">
                            <header class="part-header flexrow">
                                <span class="part-formula">
                                </span>
                            </header>
                            <ol class="dice-rolls">
                                <li>
                                    <div class="tvq-weaponperk-show">
                                        <p>{{data.perk}}</p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </section>
                </div>
            {{/if}}
        </div>
    </div>
{{/if}}