{{#if inSheet}}
    <div data-type="item" class="weapon-card item reveal-rollable" data-item-id={{_id}}>
        <div class="weapon-info weapon-name">
            <p class="weapon-name-name">{{name}}</p>
            <div class="weapon-name-body">
                {{data.damage}}
            </div>
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        <div class="dice-result">
            <img class="tvq-weaponcheck-img" src="{{img}}">
            <!--
            {{#if (eq data.rarity "common")}}
                <div class="dice-formula tvq-dice-formula-weapon">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "uncommon")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity2">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "rare")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity3">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "singular")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity4">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "unique")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity5">
                    {{name}}
                </div>
            {{/if}}
            {{#if (eq data.rarity "youkai")}}
                <div class="dice-formula tvq-dice-formula-weapon tvq-rarity6">
                    {{name}}
                </div>
            {{/if}}
            -->

            <!--
            {{#if (eq data.weaponType "melee")}}
                <p class="tvq-centerstrong">
                    {{localize "touhouvq.type.melee"}}
                </p>
            {{/if}}

            {{#if (eq data.weaponType "ranged")}}
                <p class="tvq-centerstrong">
                    {{localize "touhouvq.type.ranged"}}
                </p>
            {{/if}}

            {{#if (eq data.weaponType "throw")}}
                <p class="tvq-centerstrong">
                    {{localize "touhouvq.type.throw"}}
                </p>
            {{/if}}
            -->

        </div>
    </div>
{{/if}}