
<div class="dice-roll">
    <div class="dice-flavor">
        {{#ifNotEquals manifestationofnaturebuff 0}}
            {{#forLoop manifestationofnaturebuff}}
                <!-- If I am here, the character that is making this roll is under the manifestation of nature active effect -->
                <p class="flavor-boosted">{{localize "touhouvq.raceskill.fairy"}} : +2d4</p>
            {{/forLoop}}
        {{/ifNotEquals}}
    </div>
    <div class="dice-result">
        <div class="dice-formula tvq-dice-formula tvq-dice-formula-trait">
            {{localize "touhouvq.sheet.rollThrow1"}}
        </div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{rollResult.formula}}</span>
                        {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                            <p class="tvq-criticalsuccess-display">
                                {{localize "touhouvq.critical.critsuccess"}}
                            </p>
                        {{else}}
                            {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                                <p class="tvq-criticalfailure-display">
                                    {{localize "touhouvq.critical.critfailure"}}
                                </p>
                            {{/ifEquals}}
                        {{/ifEquals}}
                        <span class="part-total">{{rollResult.total}}</span>
                    </header>
                    <ol class="dice-rolls">
                    {{#each rollResult.dice as |object key|}}
                        {{#each this.results}}
                            {{#ifSuperiorOrEquals this.result object.faces}}
                                <li class="roll max die d{{object.faces}}">{{this.result}}</li>
                            {{else}}
                                {{#ifEquals this.result 1}}
                                    <li class="roll min die d{{object.faces}}">{{this.result}}</li>
                                {{else}}
                                    <li class="roll die d{{object.faces}}">{{this.result}}</li>
                                {{/ifEquals}}
                            {{/ifSuperiorOrEquals}}
                        {{/each}}
                    {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <div class="tvq-dice-result">
            {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                <img class="tvq-taskcheck-img" src="systems/touhouvq/assets/img/d20success2_8.webp">
                <h4 class="tvq-taskcheck-resulttotal tvq-criticalsuccess">{{rollResult.total}}</h4>
            {{else}}
                {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                    <img class="tvq-taskcheck-img" src="systems/touhouvq/assets/img/d20fumble2_8.webp">
                    <h4 class="tvq-taskcheck-resulttotal tvq-criticalfailure">{{rollResult.total}}</h4>
                {{else}}
                    <img class="tvq-taskcheck-img" src="systems/touhouvq/assets/img/roll_8.webp">
                    <h4 class="tvq-taskcheck-resulttotal">{{rollResult.total}}</h4>
                {{/ifEquals}}
            {{/ifEquals}}
        </div>

        <div class="tvq-frolic-buttons tvq-hide" data-actor="{{rollResult.data._id}}" data-type="11" data-score="{{rollResult._total}}" data-bigresult="{{rollResult.terms.[0].results.[0].result}}" data-skill="{{compskillvalue}}">
            {{#each rollResult.dice as |object key|}}
                {{#ifNotEquals this.faces 20}}
                    {{#each this.results}}
                        <button type="button" id="earthrabbit-raceskill-button" class="tvq-frolic-button" data-faces="{{object.faces}}" data-result="{{this.result}}">{{localize "touhouvq.flavorText.earthrabbitStolen2"}}{{object.faces}} ({{this.result}})</button>
                    {{/each}}
                {{/ifNotEquals}}
            {{/each}}
        </div>

    </div>
</div>
    
