<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-body">

    <div class="body-line">

      <div class="barFirst">
        {{> "systems/touhouvq/templates/partials/character-barFirst-block.html"}}
      </div>
  
      <div class="barSecond">
        <div class="bar3-stats">
          {{> "systems/touhouvq/templates/partials/character-barSecond-block.html"}}
        </div>
      </div>

      <div class="barSecond2">
        {{> "systems/touhouvq/templates/partials/character-barMain1-block.html"}}
      </div>
  
      <div class="barFirst2">
        <div class="bar3-stats">
          {{> "systems/touhouvq/templates/partials/character-barMain2-block.html"}}
        </div>
      </div>

    </div>

  </div>

</form>
