<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="tvq-weaponsheet-main sheet-items tvq-knowledge-main">

    <p class="destruction-title">{{localize "touhouvq.sheet.destructionSaveText"}}</p>

    <div class="tvq-knowledge-bloc2">
      <button type="button" class="destrsave-button-1" data-item="{{item}}" data-actor="{{actor}}">{{localize "touhouvq.sheet.destructionSaveDifficulty1"}}</button>
      <button type="button" class="destrsave-button-2" data-item="{{item}}" data-actor="{{actor}}">{{localize "touhouvq.sheet.destructionSaveDifficulty2"}}</button>
    </div>

  </div>

</form>