<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Nom"/></h1>
    </header>
    <div class="sheet-items">
      <table>
        <tr>
          <th>{{localize config.textData.weaponTypeText}}</th>
          <th>{{localize config.textData.damageText}}</th>
          <th>{{localize config.textData.rangedText}}</th>
          <th>{{localize config.textData.rangeThrowingText}}</th>
        </tr>
        <tr>
          <td>
            <select name="data.weaponType">
              {{#select data.data.weaponType}}
                {{#each config.weaponTypes as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <input class="damage" name="data.damage" type="text" value="{{data.data.damage}}" placeholder="Dégâts"/>
          </td>
          <td>
            <input class="range" name="data.range" type="text" value="{{data.data.range}}" placeholder="Portée"/>
          </td>
          <td>
            <input class="rangeThrowing" name="data.rangeThrowing" type="text" value="{{data.data.rangeThrowing}}" placeholder="Portée (Lancer)"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="sheet-description">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
